<table class="series-list-table">
  <thead class="header">
  <td class="item-name">
    Name
    <div class="filters">
      <div class="up" (click)="seriesNameSort('up')"></div>
      <div class="down" (click)="seriesNameSort(null)"></div>
    </div>
  </td>
  <td class="item-genre">Season</td>
  <td class="item-network">Network</td>
  <td class="item-premiere">
    Premiere
    <div class="filters">
      <div class="up" (click)="dateSort('up')"></div>
      <div class="down" (click)="dateSort(null)">
      </div>
    </div>
  </td>
  </thead>
  <tbody>
  <tr *ngFor="let series of seriesListContent | paginate: { itemsPerPage: 5, currentPage: page }" >
    <td>
      <div class="table-name">
        {{series.name}}
      </div>
      <div class="table-genre">
        <span *ngFor="let currentGenre of series.genre" [style.background-color]="genreColor(currentGenre)">
          {{currentGenre}}
        </span>
      </div>
      </td>
    <td class="table-season">{{series.season}}</td>
    <td class="table-network">{{series.network}}</td>
    <td class="table-premiere">{{series.premiereYear}}</td>
  </tr>
  </tbody>
</table>
<div class="series-pagination">
  <pagination-controls previousLabel="" nextLabel="" (pageChange)="page = $event" class="series-pagination"></pagination-controls>
</div>

